<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jefferson e Suellen</title>
    <link rel="stylesheet" href="/public/cssLyrics/jefSuelli.css">
</head>
<body>
    <h2 id="acendeOutra">Acende Outra Vez</h2>
    <pre class="acende" id="acende">
        [Intro] C#m7  A  E  B
                C#m7  A  E  B
        
        [Primeira Parte]
        
        C#m7            A         E  B
             Ouço um barulho diferente
        C#m7            A        E  B
             É como um vento veemente
        C#m7                  A             E  B
             Eu vejo línguas como o que de fo_go
        C#m7           A          E
        
        [Pré-Refrão]
        
        A
          Nós estamos reunidos
        B
          A casa está preparada
        C#m7
             Pode soprar o vento
        G#m
            Reacender a brasa
        
        [Refrão]
        
         C#m7  A        E
        Me  batiza com fogo
         C#m7        B
        Reacende a chama em mim
         E/G#  A        E
        Me  batiza com fogo
         C#m7        B
        Reacende a chama em mim
        
        ( C#m7  A  E  E9 )
        ...
</pre>
<script src="/public/js/lyricsJS/jefSuelli.js"></script>        
</body>
</html>