<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/cssLyrics/fernandinho.css">
</head>
<body>
    <article>
        <h2 class="jesusFilhodeDeus" id="jesusFilhodeDeus">
            Jesus Filho de Deus
        </h2>
        <pre class="jesusFilho" id="jesusFilho">[Intro] <b>B</b>  <b>E/B</b>  <b>B</b>  <b>E/B</b>

            [Primeira Parte]
            
                <b>B</b>               <b>E/B</b>
            Deixou os céus para me encontrar
             <b>B</b>           <b>E/B</b>
            Aqui não é o Seu lugar
                <b>G#m</b>         <b>E</b>               <b>B</b>
            Um amor assim o mundo não conheceu
              <b>B</b>             <b>E/B</b>
            Naquela cruz se entregou
              <b>B</b>             <b>E/B</b>
            O Teu perdão me alcançou
                <b>G#m</b>         <b>E</b>               <b>B</b>
            Um amor assim o mundo não conheceu
            
            [Refrão]
            
                  <b>B</b>                   <b>F#/B</b>       <b>B</b>
            No altar de adoração seja sempre exaltado
            <b>E</b>       <b>B/D#</b>     <b>F#4</b>
            Jesus, Filho de Deus
               <b>G#m</b>                  <b>F#/A#</b>        <b>B</b>
            Deixou a Sua glória, morreu em meu lugar
            <b>E</b>       <b>B/D#</b>     <b>F#4</b>
            Jesus, Filho de Deus
                  <b>E</b>       <b>B/D#</b>     <b>F#4</b>
            Tu és Jesus, Filho de Deus
            
            [Segunda Parte]
            
              <b>B</b>              <b>E/B</b>
            Levou sobre si pecado e dor
               <b>B</b>                <b>E/B</b>
            Venceu a morte e ressuscitou
                <b>G#m</b>         <b>E</b>               <b>B</b>
            Um amor assim o mundo não conheceu
            
               <b>B</b>              <b>C#m</b>
            Levou sobre si pecado e dor
                <b>B/D#</b>             <b>E9</b>
            Venceu a morte e ressuscitou
                <b>B/F#</b>         <b>E/G#</b>          <b>B/D#</b>  <b>E9</b>  <b>F#4</b>
            Um amor assim o mundo não conheceu
            
            [Refrão]
            
                  <b>B</b>                   <b>F#/B</b>       <b>B</b>
            No altar de adoração seja sempre exaltado
            <b>E</b>       <b>B/D#</b>     <b>F#4</b>
            Jesus, Filho de Deus
               <b>G#m</b>                  <b>F#/A#</b>        <b>B</b>
            Deixou a Sua glória, morreu em meu lugar
            <b>E</b>       <b>B/D#</b>     <b>F#4</b>
            Jesus, Filho de Deus
                  <b>E</b>       <b>B/D#</b>     <b>F#4</b>
            Tu és Jesus, Filho de Deus
            
            [Ponte]
            
                      <b>E9</b>             <b>B</b>  <b>F#</b>
            Seja exaltado, engrandecido
                        <b>E9</b>         <b>B</b>   <b>F#</b>
            Seu nome é santo, poderoso é
                       <b>E9/G#</b>   <b>B/D#</b>         <b>F#</b>
            E não há nada que apague o Seu amor
            
               <b>E</b>            <b>B/D#</b>    <b>G#m</b>          <b>F#</b>
            A cruz me libertou, a cruz me libertou
               <b>E</b>            <b>B/D#</b>    <b>G#m</b>          <b>F#</b>
            A cruz me libertou, a cruz me libertou
            
            ( <b>E9</b> )
            
            [Refrão]
            
                  <b>B</b>                   <b>F#/B</b>       <b>B</b>
            No altar de adoração seja sempre exaltado
            <b>E</b>       <b>B/D#</b>     <b>F#4</b>
            Jesus, Filho de Deus
               <b>G#m</b>                  <b>F#/A#</b>        <b>B</b>
            Deixou a Sua glória, morreu em meu lugar
            <b>E</b>       <b>B/D#</b>     <b>F#4</b>
            Jesus, Filho de Deus
            
                  <b>B</b>                   <b>F#/B</b>       <b>B</b>
            No altar de adoração seja sempre exaltado
            <b>E</b>       <b>B/D#</b>     <b>F#4</b>
            Jesus, Filho de Deus
               <b>G#m</b>                  <b>F#/A#</b>        <b>B</b>
            Deixou a Sua glória, morreu em meu lugar
            <b>E</b>       <b>B/D#</b>     <b>F#4</b>
            Jesus, Filho de Deus
                  <b>E</b>       <b>B/D#</b>     <b>F#</b>
            Tu és Jesus, Filho de Deus
                   <b>E</b>      <b>B/D#</b>     <b>F#</b>
            Tu És Jesus, Filho de Deus
                   <b>E</b>      <b>B/D#</b>     <b>F#</b>
            Tu És Jesus, Filho de Deus
            
            [Final] <b>E9</b>
            </pre>
        <h2>Creio em Ti</h2>

    </article>
    <script src="/public/js/lyricsJS/fernandinnho.js"></script>
</body>
</html>