<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabriela</title>
    <link rel="stylesheet" href="/public/cssLyrics/gabrielaR.css">
</head>
<body>
    <h2 id="lugarSecreto">Lugar Secreto</h2>
    <pre class="lugarSecreto" id="lgSecreto">[Intro] <b>F7M(9)</b>  <b>Am</b>  <b>G4(6)</b>
        <b>F7M(9)</b>  <b>Am</b>  <b>G4(6)</b>


</span>
[Primeira Parte]

<b>F7M(9)</b>        <b>Am</b>                  <b>G4(6)</b>
       Tu és tudo o que eu mais quero
<b>F7M(9)</b>        <b>Am</b>        <b>G4(6)</b>
       O meu fôlego, Tu és
<b>F7M(9)</b>           <b>Am</b>         <b>G4(6)</b>
       Em Teus braços, é o meu lugar
        <b>F7M(9)</b>  <b>Am</b>    <b>G4(6)</b>
Estou aqui,  estou aqui

<b>F7M(9)</b>         <b>Am</b>          <b>G4(6)</b>
       Pai, eu amo Sua presença
<b>F7M(9)</b>         <b>Am</b>             <b>G4(6)</b>
       Teu sorriso é vida em mim
<b>F7M(9)</b>       <b>Am</b>           <b>G4(6)</b>
       Eu seguro em Suas mãos
           <b>F7M(9)</b>  <b>Am</b>     <b>G4(6)</b>
Confio em Ti,  confio em Ti

[Refrão]

               <b>F7M(9)</b>
Quero ir mais fundo
              <b>Dm7(9)</b>
Leva-me mais perto
              <b>Am</b>
Onde eu Te encontro
             <b>Em7</b>
No lugar secreto
                  <b>F7M(9)</b>
Aos Teus pés, me rendo
             <b>Dm7(9)</b>      <b>Am</b>  <b>G4(6)</b>
Pois a Tua glória quero ver

[Solo] <b>F7M(9)</b>  <b>Dm7(9)</b>  <b>Am</b>  <b>Em7</b>
       <b>F7M(9)</b>  <b>Dm7(9)</b>  <b>Am</b>  <b>G4(6)</b>


</span>
[Primeira Parte]

<b>F7M(9)</b>         <b>Am</b>          <b>G4(6)</b>
       Pai, eu amo Sua presença
<b>F7M(9)</b>         <b>Am</b>             <b>G4(6)</b>
       Teu sorriso é vida em mim
<b>F7M(9)</b>       <b>Am</b>           <b>G4(6)</b>
       Eu seguro em Suas mãos
           <b>F7M(9)</b>  <b>Am</b>     <b>G4(6)</b>
Confio em Ti,  confio em Ti

[Refrão]

              <b>F7M(9)</b>
Quero ir mais fundo
              <b>Dm7(9)</b>
Leva-me mais perto
              <b>Am</b>
Onde eu Te encontro
             <b>Em7</b>
No lugar secreto
                  <b>F7M(9)</b>
Aos Teus pés, me rendo
             <b>Dm7(9)</b>      <b>Am</b>  <b>G4(6)</b>
Pois a Tua glória quero ver

               <b>F7M(9)</b>
Quero ir mais fundo
              <b>Dm7(9)</b>
Leva-me mais perto
              <b>Am</b>
Onde eu Te encontro
             <b>Em7</b>
No lugar secreto
                  <b>F7M(9)</b>
Aos Teus pés, me rendo
             <b>Dm7(9)</b>      <b>Am</b>  <b>G4(6)</b>
Pois a Tua glória quero ver

[Segunda Parte]

                     <b>F7M(9)</b>
Tudo o que eu mais quero é Te ver
                     <b>Dm7(9)</b>
Me envolva com Tua glória e poder
          <b>Am</b>
Tua majestade é real
          <b>Em7</b>
Tua voz ecoa em meu ser

                     <b>F7M(9)</b>
Tudo o que eu mais quero é Te ver
                     <b>Dm7(9)</b>
Me envolva com Tua glória e poder
          <b>Am</b>
Tua majestade é real
          <b>Em7</b>
Tua voz ecoa em meu ser

                     <b>F7M(9)</b>
Tudo o que eu mais quero é Te ver
                     <b>Dm7(9)</b>
Me envolva com Tua glória e poder
          <b>Am</b>
Tua majestade é real
          <b>Em7</b>
Tua voz ecoa em meu ser

                     <b>F7M(9)</b>
Tudo o que eu mais quero é Te ver
                     <b>Dm7(9)</b>
Me envolva com Tua glória e poder
          <b>Am</b>
Tua majestade é real
          <b>G4(6)</b>
Tua voz ecoa em meu ser

[Refrão]

               <b>F7M(9)</b>
Quero ir mais fundo
              <b>Dm7(9)</b>
Leva-me mais perto
              <b>Am</b>
Onde eu Te encontro
             <b>Em7</b>
No lugar secreto
                  <b>F7M(9)</b>
Aos Teus pés, me rendo
             <b>Dm7(9)</b>      <b>Am</b>  <b>G4(6)</b>
Pois a Tua glória quero ver

[Solo] <b>F7M(9)</b>  <b>Dm7(9)</b>  <b>Am</b>  <b>Em7</b>
       <b>F7M(9)</b>  <b>Dm7(9)</b>  <b>Am</b>  <b>G4(6)</b>  <b>F7M(9)</b>


</pre>
    <script src="/public/js/lyricsJS/gabiRocha.js"></script>
</body>
</html>